<div id="voltar-nav">
<strong><%= link_to 'Voltar', ideas_path %></strong> 
</div>
<br>
	
	<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div id="show-wrapper" class="panel panel-default">
					<div id="show-user" align="center" class="panel-title">
			  			<div style="width: 100%; display: table;">	
			  				<div style="display: table-row">
        					<div id="show-user-name" align="left" style="display: table-cell;"> 
        						<span id="user-gliph-footer" class="glyphicon glyphicon-user"></span>
			  							<%= link_to @idea.user.full_name %>
			  					</div>

			  					<div id="show-post-time" style="float: right;">
			  								<span class="glyphicon glyphicon-time"></span>
			  								<%= time_ago_in_words(@idea.created_at) %>
			  					</div>

			  					

			  					<% if current_user == @idea.user %>
	        					<div align="right" style="display: table-cell;"> 
	        						<%= link_to @idea, method: :delete, data: { confirm: 'Tem certeza que deseja apagar sua ideia?' } do %>
				  							<span id="trash-gliph-footer" class="glyphicon glyphicon-trash"></span>
				  						<% end %> 
				  					</div>
				  				<% end %>	
			  				</div>
			  			</div>
			  	</div>
			  	
			  	  <div>
              <hr id="user-header-line-show">
            </div>

			  	<br>
			  	<br>

			  	<div id="event_datetime_show" class="center">
			  		<span id="glyph-calendar-index" class="glyphicon glyphicon-calendar"></span> <p><%= @idea.event_time.try(:strftime, '%d/%m/%Y, às %H:%Mh') %></p>
			  	</div>

					<div id="idea-title" class="panel-body center">
						
						<strong><h1><%= @idea.title %></h1></strong>
						<p class="lead"><%= @idea.lead %></p>

						<% if @idea.user == current_user %>
							
								<p><%= link_to 'Editar ideia', edit_idea_path(@idea) %></p>
		
						<% end %>
						<br>
				  	<div class="btn-group">
					  	<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-map-marker"></span></button>

					  	<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-road"></span></button>

					  	<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span></button>

					  	<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span></button>

					  	<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-share"></span></button>

						</div>
						<br>
					</div>
			  	
			  	<div id="show-img" align="center" class="img-responsive">
			  		<%= image_tag @idea.image.url(:medium)%>
			  		<br>
			  		<br>
			  		<button id="idea-details" type="button" class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span></button>
					  <br>
					</div>
				</div>
			</div>
	</div>


<div align="center">
  <h4><strong>Bora?</strong></h4>
  
  <div class="btn-group">
  	<button id="sim" type="button" class="btn btn-success">Partiu <br><span class="glyphicon glyphicon-ok"></span></button>
  	<button id="talvez" type="button" class="btn btn-default">Talvez <br><span class="glyphicon glyphicon-minus"></span></button>
  	<button id="nao" type="button" class="btn btn-danger">Nem dá <br><span class="glyphicon glyphicon-remove"></span></button>
	</div>
</div>
<br>
<br>
