<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Editar conta</h1>
    </div>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
       <%= f.label :name, "Nome" %>
       <%= f.text_field :name, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :surname, "Sobrenome" %>
        <%= f.text_field :surname, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Nova senha" %> <i>(deixe em branco caso não deseje alterar sua senha)</i>
        <%= f.password_field :password, class: "form-control", :autocomplete => "off" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, "Confirme sua senha atual" %> <i>(precisamos da sua senha atual para cadastrar uma nova senha)</i>
        <%= f.password_field :current_password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Atualizar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <h3>Cancelar minha conta</h3>

    <p>Não está satisfeito? <%= button_to "Cancele minha conta", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-warning" %></p>

    <%= link_to "Voltar", :back %>
  </div>
</div>